<!--
  Generated template for the BookingsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="clickinn">
    <ion-title text-center>Appointments</ion-title>
  </ion-navbar>
</ion-header>
<ion-content style="background: #f4f4f4;">
	
	<ion-grid>
	    <ion-row>
	        <ion-col col-0 col-sm-0 col-md-0 col-lg-3>
	        </ion-col>
		    <ion-col col-12 col-sm-12 col-md-12 col-lg-6>
		        	<ion-item no-lines text-wrap style="border-radius: 7px; background: rgba(0, 200,0, 0.5); 
		        	color: white; letter-spacing: 2px">
						<p text-center style="color: white">
							Below is a list of your viewing appointments, please make an effort to honour them or communicate any changes with the relevant parties.  
						</p>
						<ion-buttons end>
							<button ion-button small clear>
								<div style="color: #32db64">
									<!-- personnel ~ {{channel?.creator?.firstname}} {{channel?.creator?.lastname}} -->
								</div>
							</button>
						</ion-buttons>
					</ion-item>
					<div *ngIf="noBookings == true" style="color: lightgray; text-align: center; padding: 10px"> 
						<h1>No Appointments</h1>
						<p>You have no appointments yet</p>
					</div>
					<ion-list>
					  <ion-item-sliding #slidingItem *ngFor="let app of appt_svc?.data | async; let i = index">
					    <ion-item #item text-wrap *ngIf="user.uid != app.booker_id" tooltip="Slide left for actions" 
					    positionH="right" event="click" arrow>
					      <ion-avatar item-left>
					        <img src="{{app?.bookerDp}}" (load)="imagesLoaded[i] = true" [hidden]="!imagesLoaded[i]"  imageViewer />
							<img src="assets/imgs/placeholder.jpg" [hidden]="imagesLoaded[i]" />
					      </ion-avatar>
					      <p style="margin-bottom: 5px">
					      	<strong style="overflow-wrap: normal">For {{adjustDate(app?.date) | date : "medium" }}</strong>
					      </p>
					      <p *ngIf="app?.host_declines && !app?.seeker_cancels && !app?.host_confirms" style="background: rgba(180,0,0,0.3); padding: 15px"> 
					      	{{app?.booker_name ? app?.booker_name : 'Anonymous'}} wants to view the {{app?.apart_type ? app?.apart_type : 'room'}} at {{app?.address}}
					      </p>
					      <p *ngIf="app?.host_confirms && !app?.seeker_cancels && !app?.host_declines" style="background: rgba(0,180,0,0.3); padding: 15px"> 
					      	{{app?.booker_name ? app?.booker_name : 'Anonymous'}} wants to view the {{app?.apart_type ? app?.apart_type : 'room'}} at {{app?.address}}
					      </p>
					      <p *ngIf="!app?.host_confirms && app?.seeker_cancels && !app?.host_declines" style="background: rgba(180,0,0,0.3); padding: 15px"> 
					      	{{app?.booker_name ? app?.booker_name : 'Anonymous'}} wants to view the {{app?.apart_type ? app?.apart_type : 'room'}} at {{app?.address}}
					      </p>
					      <p *ngIf="!app?.host_confirms && !app?.host_declines && !app?.seeker_cancels"> 
					      	{{app?.booker_name ? app?.booker_name : 'Anonymous'}} wants to view the {{app?.apart_type ? app?.apart_type : 'room'}} at {{app?.address}}
					      </p>
					    </ion-item>
					    <ion-item #item text-wrap *ngIf="user.uid == app.booker_id" tooltip="Slide left for actions" 
					    positionH="right" event="click" arrow>
					      <ion-avatar item-start>
					        <img src="{{app?.apart_dp}}" (load)="imagesLoaded[i] = true" [hidden]="!imagesLoaded[i]" imageViewer />
					        <img src="assets/imgs/placeholder.jpg" [hidden]="imagesLoaded[i]" />
					      </ion-avatar>
					      <p style="margin-bottom: 5px">
					      	<strong style="overflow-wrap: normal;">For {{adjustDate(app?.date) | date : "medium" }}</strong>
					      </p>
					      <p *ngIf="app?.host_declines && !app?.seeker_cancels && !app?.host_confirms" style="background: rgba(180,0,0,0.3); padding: 15px"> You want to view the {{app?.apart_type ? app?.apart_type : 'room'}} at
					      	{{app?.address}}
					      </p>
					      <p *ngIf="app?.host_confirms && !app?.seeker_cancels && !app?.host_declines" style="background: rgba(0,180,0,0.3); padding: 15px"> You want to view the {{app?.apart_type ? app?.apart_type : 'room'}} at
					      	{{app?.address}}
					      </p>
					      <p *ngIf="!app?.host_declines && app?.seeker_cancels && !app?.host_confirms" style="background: rgba(180,0,0,0.3); padding: 15px"> You want to view the {{app?.apart_type ? app?.apart_type : 'room'}} at
					      	{{app?.address}}
					      </p>
					      <p *ngIf="!app?.host_confirms && !app?.host_declines && !app?.seeker_cancels"> You want to view the {{app?.apart_type ? app?.apart_type : 'room'}} at
					      	{{app?.address}}
					      </p>
					    </ion-item>
					    <ion-item-options #item side="right">
					      <button ion-button color="secondary" (click)="callTenant(app?.booker_id)" *ngIf="user.uid != app.booker_id">
					        <ion-icon name="call"></ion-icon>
					        Call
					      </button>
					      <button ion-button color="secondary" (click)="callLandlord(app?.host_id)" *ngIf="user.uid == app.booker_id">
					        <ion-icon name="call"></ion-icon>
					        Call
					      </button>
					      <button ion-button color="primary" (click)="showInput(app)">
					        <ion-icon name="text"></ion-icon>
					        Text
					      </button>
					      <button ion-button color="danger" (click)="declineBooking(app)" *ngIf="user.uid != app.booker_id">
					        <ion-icon name="close"></ion-icon>
					        decline
					      </button>

					      <button ion-button color="secondary" (click)="confirmBooking(app)" *ngIf="user.uid != app.booker_id">
					        <ion-icon name="thumbs-up"></ion-icon>
					        Accept
					      </button>
					      <button ion-button color="danger" (click)="seekerCancel(app)" *ngIf="user.uid == app.booker_id">
					        <ion-icon name="close"></ion-icon>
					        Cancel booking
					      </button>
					    </ion-item-options>
					  </ion-item-sliding>
					</ion-list>
					<div *ngIf="loadingMore" style="text-align: center">
					    <ion-spinner></ion-spinner>
					</div>
			</ion-col>
			<ion-col col-0 col-sm-0 col-md-0 col-lg-3>
	        </ion-col>
	    </ion-row>
	</ion-grid>
</ion-content>
