<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>882290923419-40e6albesrhg3bju1i5a4bbs1p8dttmi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.882290923419-40e6albesrhg3bju1i5a4bbs1p8dttmi</string>
	<key>API_KEY</key>
	<string>AIzaSyBUgJJCCGY6d2Dw_7vUjjD3UFdr-dT_4-4</string>
	<key>GCM_SENDER_ID</key>
	<string>882290923419</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>zatenents.co.clickinn.clickinn</string>
	<key>PROJECT_ID</key>
	<string>clickinn-996f0</string>
	<key>STORAGE_BUCKET</key>
	<string>clickinn-996f0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:882290923419:ios:6579d51fe659da0e</string>
	<key>DATABASE_URL</key>
	<string>https://clickinn-996f0.firebaseio.com</string>
</dict>
</plist>