page-edit-profile {
	.round{
		-webkit-border-radius: 50%;
		border-radius: 50%;
	}

	ion-icon{
		font-size: 30px;
	}

	ion-input:first-child {
	    border: 1px solid lightgray;
	    border-radius: 4px;
	}

  	ion-input:last-child {
    	border: 1px solid lightgray;
    	border-radius: 4px;
  	}

  	ion-item {
	    border-bottom: 0px !important;
	    box-shadow: none !important;
	}

	.item-inner {
		border-bottom-color: transparent !important;
		box-shadow: none !important;
	}
}
