
<ion-header>
  <ion-navbar color="clickinn">
    <ion-title text-center>Search feed</ion-title>
  </ion-navbar>
</ion-header>

<ion-content style="background: #f4f4f4;">
	<ion-grid>
		<ion-row>
			<ion-col col-0 col-sm-0 col-md-0 col-lg-3>
			</ion-col>
			<ion-col col-12 col-sm-12 col-md-12 col-lg-6>
				
				<ion-card *ngFor="let srch of searchfeed_svc?.data | async; let idx = index">
				  <ion-item>
				    <ion-avatar item-start>
				      <img src="{{srch?.searcher_dp}}" (load)="imagesLoaded[idx] = true" [hidden]="!imagesLoaded[idx]" />
				      <img src="assets/imgs/placeholder.jpg" [hidden]="imagesLoaded[idx]" />
				    </ion-avatar>
				    <h2> {{srch?.searcher_name != 'undefined undefined' ? srch?.searcher_name : 'Anonymous'}} </h2>
				  </ion-item>
				  <ion-card-content>
				    <p text-center>
				    	Hi, I am looking for <b style="color: green">{{srch?.apartment_type == 'Any' ? 'any type of room/apartment' : 
				    	 ' a ' + srch?.apartment_type}}</b> around 
				    	<b style="color: green">{{srch?.Address?.sublocality_lng}}, {{srch?.Address?.locality_lng}} 
				    	</b>.
				    </p>
				    <h2 text-center style="color: #488aff">The place meet have the following requirements</h2>
				    <p text-center>
				    	 Rent between <b style="color: green">R{{srch?.minPrice}}.00</b> and <b style="color: green">R{{srch?.maxPrice}}.00</b>
				    	<b style="color: green">
					    	{{srch?.nsfas ? ' NSFAS accreditation, ': '' }}
					    	{{srch?.wifi ? ' WiFi, ': '' }}
					    	{{srch?.laundry ? ' laundry facilities, ': '' }} 
					    	{{srch?.parking ? ' secure parking ': '' }}
				    	</b>
				    </p>
				  </ion-card-content>
				  <ion-row>
				    <ion-col *ngIf="srch.searcher_id != user.uid">
				      <button ion-button icon-start clear small (click)="showInput(srch)" >
				        <ion-icon name="text"></ion-icon>
				        <div>Make offer</div>
				      </button>
				    </ion-col>
				    <ion-col center text-center>
				      <ion-note>
				        {{srch?.timeStamp | timeAgo | async}}
				      </ion-note>
				    </ion-col>
				  </ion-row>
				</ion-card>
				<div *ngIf="loadingMore" style="text-align: center;">
				    <ion-spinner></ion-spinner>
				</div>
			</ion-col>
			<ion-col col-0 col-sm-0 col-md-0 col-lg-3>
			</ion-col>
		</ion-row>
	</ion-grid>
</ion-content>

<!-- <ion-item *ngIf="inputVisible">
		<ion-textarea rows="2" placeholder="Type message here..." style="border-radius: 4px"></ion-textarea>
		<ion-buttons end margin-vertical>
        <button ion-button>
          send
        </button>
    </ion-buttons>
</ion-item> -->
