<!--
  Generated template for the InfoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="clickinn">
    <ion-title style="font-family: 'Ubuntu', sans-serif;">Apartment Info</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
	<ion-grid no-padding>
    <ion-row>
      <ion-col col-0 col-sm-0 col-md-0 col-lg-3>
      </ion-col>
      <ion-col col-12 col-sm-12 col-md-12 col-lg-6>
      	
		<div style="background: #000020;">
			<ion-buttons *ngIf="canEdit">
				<button ion-button small clear (click)="gotoApartment(apartment)">edit</button>
			</ion-buttons>
			<ion-item text-wrap text-center no-lines style="background: transparent;">
				<p style="color: white"><strong>{{apartment?.room_type}},</strong> {{apartment?.description}}</p>
				<p style="color: white">{{apartment?.property?.common}}</p>
			</ion-item>
			<ion-slides  *ngIf="images && images.length" slidesPerView="2" 
				class="image_container" [pager]="true" loop="true" [autoplay]="3000">
				<ion-slide *ngFor="let image of images; let idx = index">
					<img src="{{image?.url}}" (load)="imagesLoaded[idx] = true" [hidden]="!imagesLoaded[idx]" imageViewer class="thumb-img" />
					<img src="assets/imgs/placeholder.jpg" [hidden]="imagesLoaded[idx]" />
				</ion-slide>
			</ion-slides>
		</div>
		<ion-row margin-vertical>
			<ion-col>
    			<a ion-button href="tel:{{formatContactNumber()}}">
		    				<ion-icon name="call"></ion-icon>
		    				&nbsp;&nbsp;<div>Call</div>
		    			</a>
    		</ion-col>
			<!-- <ion-col>
				<button ion-button small clear  (click)="gotoAppointment()">
					<ion-icon name="alarm"></ion-icon>
				</button>
			</ion-col> --><!-- 
			<ion-col>
				<button ion-button small clear color="metallic-gold" (click)="gotoSecure()">
					<ion-icon name="cart"></ion-icon>
				</button>
			</ion-col> -->
			<!-- <ion-col>
				<button ion-button small clear color="danger" (click)="addToLiked()">
					<ion-icon name="{{heart}}">
					</ion-icon>
				</button>
			</ion-col> -->
			<ion-col (click)="whatsAppNumberStatus()">
				      <a ion-button color="secondary" href="{{generateWhatsAppLink()}}" >
				        <div text-center>
				        	<ion-icon name="text" center></ion-icon>
				        </div>&nbsp;&nbsp;
				        <div text-center>WhatsApp</div>
				      </a>
				    </ion-col>
			<ion-col>
				<button ion-button clear small (click)="gotoMap()">
					<ion-icon name="map">
					</ion-icon>
				</button>
			</ion-col>
		</ion-row>
		<h2 text-center><strong>More info</strong></h2>
		<ion-item text-wrap>
			<ion-icon name='walk' color="light-gray" item-start></ion-icon>
			<h2><strong>Places within a 10 min walk</strong></h2> 
			<ion-list>
				<button ion-item text-wrap *ngFor="let place of property?.nearbys" text-wrap>
				  {{place}}
				</button>
			</ion-list>
		</ion-item>
		<ion-item text-wrap>
			<ion-icon name='home' color="light-gray" item-start></ion-icon>
			Apartments left 
			<ion-note color="danger" item-end>{{apartment?.quantity_available ? apartment?.quantity_available : 1 }}</ion-note>
		</ion-item>
		<ion-item text-wrap>
			<ion-icon name='cash' color="light-gray" item-start></ion-icon>
			Deposit ( rent excluded ) <ion-note item-end>R{{apartment?.deposit}}</ion-note>
		</ion-item>
		<ion-item text-wrap>
			<ion-icon name='paper' color="light-gray" item-start></ion-icon>
	       	Monthly rent <ion-note item-end> R{{apartment?.price}}</ion-note>
		</ion-item>
		<ion-item text-wrap>
			<ion-icon name='wifi' color="light-gray" item-start></ion-icon>
			Free wifi <ion-note item-end>{{apartment?.property?.wifi ? "Available" : "Not available"}}</ion-note>
		</ion-item>
		<ion-item text-wrap>
			<ion-icon name='shirt' color="light-gray" item-start></ion-icon>
			Laundry machine <ion-note item-end>{{apartment?.property?.laundry ? "Available" : "Not available"}}</ion-note>
		</ion-item>
		<ion-item text-wrap>
			<ion-icon name='checkmark' color="light-gray" item-start></ion-icon>
			NSFAS status<ion-note item-end>{{apartment?.property?.nsfas ? "Accreditted" : "N/A"}}</ion-note>
		</ion-item>
      </ion-col>
      <ion-col col-0 col-sm-0 col-md-0 col-lg-3>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
