page-manage-buildings {

	ion-content{
		background-color: white;
	    background: url('../assets/imgs/abstract.jpg') no-repeat center center fixed; 
	    -webkit-background-size: cover;
	    -moz-background-size: cover;
	    -o-background-size: cover;
	    background-size: cover;
	}

}
