page-edit-property {

	ion-content{
		background-color: white;
	    background: url('../assets/imgs/abstract.jpg') no-repeat center center fixed; 
	    -webkit-background-size: cover;
	    -moz-background-size: cover;
	    -o-background-size: cover;
	    background-size: cover;
	}

	ion-slide.swiper-slide{
 		left: 25%;
 	}

	.thumb-img{
		padding: 5px;

	}

	.image_container{
		width: 100%;
		max-height: 200px;
		overflow-y: hidden;
		padding: 10px;
	}

	

	@media only screen and (min-width: 769px){
		.image_container{
			width: 100%;
			max-height: 300px;
			overflow-y: hidden;
			padding: 10px;
		}
	}

	@media only screen and (min-width: 850px){
		.image_container{
			width: 100%;
			max-height: 330px;
			overflow-y: hidden;
			padding: 10px;
		}
	}

	@media only screen and (min-width: 100px){
		.image_container{
			width: 100%;
			max-height: 400px;
			overflow-y: hidden;
			padding: 10px;
		}
	}


}
