<!--
  Generated template for the EditPropertyPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="clickinn">
    <ion-title>Edit property</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
	
	<ion-grid no-padding>
		<ion-row>
			<ion-col col-0 col-sm-0 col-md-0 col-lg-3>
			</ion-col>
			<ion-col col-12 col-sm-12 col-md-12 col-lg-6 style="padding: 15px 15px;">
				<div text-center>
					<h1 text-center>Property Details</h1>
					<ion-item text-wrap padding-horizontal style=" border-top-right-radius: 9px; border-top-left-radius: 9px">
						<ion-label floating style="letter-spacing: 2px">Address</ion-label>
						<ion-input type="text" [(ngModel)]="property.address.description"> </ion-input>
					</ion-item>
					<ion-item margin-top>
			          <ion-label stacked style="letter-spacing: 2px">Places of interest within 10 min walk</ion-label>
			          <ion-input type="search" [(ngModel)]="nearby" placeholder="eg Campus Square Mall" (keyup)="getPredictionsNby($event)">
			          </ion-input>
			        </ion-item>
			        <div *ngIf="predictionLoading" style="background: rgba(0, 0, 0, 0.8); color: white; padding-top: 5px; padding-bottom: 5px;  text-align: center; z-index: 1">
			            <ion-spinner name="ios"></ion-spinner> &nbsp;&nbsp;
			            Loading predictions...
			          </div>
			        <ion-list *ngIf="predictionsNby">
			          <button ion-item *ngFor="let pred of predictionsNby" (click)="addNearby(pred?.description)">{{pred?.description}}</button>
			        </ion-list>
			        <ion-list *ngIf="property.nearbys">
			          <ion-item text-wrap *ngFor="let nby of property.nearbys" margin-vertical (click)="deleteNearby(nearby)">
			            <ion-icon name="close" start></ion-icon> &nbsp;&nbsp;&nbsp;{{ nby }}
			          </ion-item>
			        </ion-list>
					<ion-item text-wrap padding-horizontal no-lines>
						<ion-label style="letter-spacing: 2px" floating>Description</ion-label>
						<ion-textarea rows="7" [(ngModel)]="property.common"></ion-textarea>
					</ion-item>
					<ion-item padding-horizontal no-lines>
					   <ion-label>Parking</ion-label>
					   <ion-checkbox [(ngModel)]="property.parking"></ion-checkbox>
					</ion-item>
					<ion-item padding-horizontal no-lines>
					   <ion-label>WiFi</ion-label>
					   <ion-checkbox [(ngModel)]="property.wifi"></ion-checkbox>
					</ion-item>
					<ion-item padding-horizontal no-lines>
					   <ion-label>NSFAS</ion-label>
					   <ion-checkbox [(ngModel)]="property.nsfas"></ion-checkbox>
					</ion-item>
					<ion-item padding-horizontal no-lines style=" border-bottom-right-radius: 9px; border-bottom-left-radius: 9px">
					   <ion-label>Laundry facilities</ion-label>
					   <ion-checkbox [(ngModel)]="property.laundry"></ion-checkbox>
					</ion-item>
					<div style="background: #000020; border-radius: 10px">
						<h4 text-center padding style="color: white">Property common area images</h4>
						<ion-slides  loop="true" slidesPerView="2" class="image_container" [pager]="true">
							<ion-slide *ngFor="let image of images; let idx = index">
								<div style="position: relative; top:0; left: 0; width:100%; height: 100%; ">	
									<img src="{{image?.url}}" (load)="imagesLoaded[idx] = true" [hidden]="!imagesLoaded[idx]" imageViewer class="thumb-img" />
									<img src="assets/imgs/placeholder.jpg" [hidden]="imagesLoaded[idx]" />
								</div>
								
								<button ion-button clear  style="position: absolute; top: 0; right: 0"  (click)="remove(idx)">
	                            	<ion-icon name="close"></ion-icon>
	                        	</button>
								
							</ion-slide>
						</ion-slides>
						<div *ngIf="propertyImagesAdded && showAddedImages">
							<h5>Added picture</h5>
							<div *ngFor="let pic of fileUploads; let idex = index">
								<div style="position: relative; top:0; left: 0; width:100%; height: 100%; ">
									<img src="{{pic?.file}}" width="90px" height="90px" imageViewer>
									<button ion-button clear color="danger" style="position: absolute; top: 0; right: 0"  (click)="cancelPic(idex)">
		                            	<ion-icon name="close"></ion-icon>
		                        	</button>
		                        </div>
							</div>
						</div>
						<ion-buttons>
							<button ion-button clear small (click)="addPicture()" >Add more images</button>
						</ion-buttons>
					</div>
				</div>

				<ion-buttons text-center padding-vertical>
					<button ion-button color="clickinn" outline (click)="save()">Save changes &nbsp;&nbsp;&nbsp; <ion-icon name="cloud-upload"></ion-icon> </button>
				</ion-buttons>
				<hr>
				
					<h1 text-center padding>Property Apartments</h1>
					<button ion-item margin-vertical text-wrap *ngFor="let apartment of apartments | async; let i = index" (click)="gotoApartment(apartment)" >
				      <ion-avatar item-start>
				        <img src="{{apartment?.dP?.url}}" (load)="imagesLoaded2[i] = true" [hidden]="!imagesLoaded2[i]" imageViewer/>
				        <img src="assets/imgs/placeholder.jpg" [hidden]="imagesLoaded2[i]" />
				      </ion-avatar>
				      <p>{{apartment?.room_type}}, R{{apartment?.price}}</p>
				      <p>{{apartment?.property?.vicinity}}</p>
				    </button>
					<div *ngIf="loading" style="text-align: center">
					    <ion-spinner></ion-spinner>
					</div>
				
			</ion-col>
			<ion-col col-0 col-sm-0 col-md-0 col-lg-3>
			</ion-col>
		</ion-row>
	</ion-grid>
</ion-content>
