page-landlord-registration {
	
	ion-spinner{
		font-size: 50px;
	}

	ion-input:first-child {
	    border: 1px solid lightgray;
	    border-radius: 4px;
	}

  	ion-input:last-child {
    	border: 1px solid lightgray;
    	border-radius: 4px;
  	}

  	ion-item {
	    border-bottom: 0px !important;
	    box-shadow: none !important;
	}

	.item-inner {
		border-bottom-color: transparent !important;
		box-shadow: none !important;
	}
}
