<ion-header>
  <ion-navbar color="clickinn">
    <ion-title text-center>Contacts</ion-title>
  </ion-navbar>
</ion-header>
<ion-content style="background: #f4f4f4;">
	<ion-grid>
	    <ion-row>
	        <ion-col col-0 col-sm-0 col-md-0 col-lg-3>
	        </ion-col>
	        <ion-col col-12 col-sm-12 col-md-12 col-lg-6>
				<ion-item no-lines text-wrap style="border-radius: 7px; background: rgba(0, 200,0, 0.8); color: white; letter-spacing: 2px">
					<p text-center style="color: white">
						Please use this chat platform responsibly and for accomodation purposes only
					</p>
					<ion-buttons end>
						<button ion-button small clear>
							<div style="color: #32db64">
								<!-- personnel ~ {{channel?.creator?.firstname}} {{channel?.creator?.lastname}} -->
							</div>
						</button>
					</ion-buttons>
				</ion-item>
				<ion-label text-center style=" margin-bottom: 2px; letter-spacing: 2px">Search users by email</ion-label>
					<ion-searchbar type="search" [(ngModel)]="searchText" 
		              placeholder="e.g. me@gmail.com" (ionInput)="userAutocomplete($event)" mode="ios">
		            </ion-searchbar>
		            <ion-list *ngIf="users">
		              <button ion-item *ngFor="let us of users"  (click)="selectUser(us)">
		              	<strong>{{us?.firstname}} {{us?.lastname}}</strong>
		              	<p>{{us?.email}}</p>
		              </button>
		            </ion-list>
				<div *ngIf="noChats == true" style="color: lightgray; text-align: center;"> 
					<h1>No Chats</h1>
					<p>You have no chats yet</p>
				</div>
				<ion-list>
					<button ion-item *ngFor="let thread of threads; let i = index" (click)="gotoThread(thread)">
					    <ion-avatar item-start>
					      <img src="{{thread?.dp}}" (load)="imagesLoaded[i] = true" [hidden]="!imagesLoaded[i]" imageViewer/>
					      <img src="assets/imgs/placeholder.jpg" [hidden]="imagesLoaded[i]" />
					    </ion-avatar>
					    <p>
					    	{{thread?.displayName ? thread?.displayName : 'Anonymous'}} &nbsp;&nbsp; 
					    	<strong *ngIf="getUnseen(thread?.thread_id) > 0" >({{getUnseen(thread?.thread_id)}})</strong> 
					    </p>
					</button>
				</ion-list>
			</ion-col>
			<ion-col col-0 col-sm-0 col-md-0 col-lg-3>
	        </ion-col>
	    </ion-row>
	</ion-grid>
</ion-content>
