<ion-header>
  <ion-navbar color="clickinn">
    <ion-title text-center>Contacts</ion-title>
  </ion-navbar>
</ion-header>
<ion-content style="background: #f4f4f4;">
	<ion-grid>
	    <ion-row>
	        <ion-col col-0 col-sm-0 col-md-0 col-lg-3>
	        </ion-col>
	        <ion-col col-12 col-sm-12 col-md-12 col-lg-6>
				<ion-item no-lines text-wrap style="border-radius: 7px; background: rgba(0, 200,0, 0.8); color: white">
					<p text-center style="color: white">
						Please use this chat platform responsibly and for accomodation purposes only
					</p>
					<ion-buttons end>
						<button ion-button small clear>
							<div style="color: #32db64">
								<!-- personnel ~ {{channel?.creator?.firstname}} {{channel?.creator?.lastname}} -->
							</div>
						</button>
					</ion-buttons>
				</ion-item>
				<ion-list>
					<button ion-item *ngFor="let thread of threads | async; let i = index" (click)="gotoThread(thread)">
					    <ion-avatar item-start>
					      <img src="{{thread?.dp}}" (load)="imagesLoaded[i] = true" [hidden]="!imagesLoaded[i]" imageViewer/>
					      <img src="assets/imgs/placeholder.jpg" [hidden]="imagesLoaded[i]" />
					    </ion-avatar>
					    <p>{{thread?.displayName ? thread?.displayName : 'Anonymous'}}</p>
					</button>
				</ion-list>
				<div *ngIf="loading" style="text-align: center">
				    <ion-spinner></ion-spinner>
				</div>
			</ion-col>
			<ion-col col-0 col-sm-0 col-md-0 col-lg-3>
	        </ion-col>
	    </ion-row>
	</ion-grid>
</ion-content>
