<!--
  Generated template for the WelcomePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="clickinn-pitch">
    <ion-title text-center style="font-weight: 3.0px; letter-spacing: 2px">
      <h1><b>Clickinn</b></h1></ion-title>
    <button ion-button menuToggle icon-only>
      <ion-icon name='menu'></ion-icon> <span *ngIf="unseenNotifications > 0">&nbsp;&nbsp;({{unseenNotifications}}) </span>
    </button>
  </ion-navbar>
</ion-header>
<ion-content text-center>
  <ion-fab bottom right>
    <button ion-fab color="secondary" (click)="gotoChats()">
      <ion-icon name="ios-chatboxes-outline">
      </ion-icon>
    </button>
  </ion-fab>
	<div class="centered_on_screen full_width">
    <ion-grid>
      <ion-row>
        <ion-col col-0 col-sm-0 col-md-0 col-lg-3>
        </ion-col>
        <ion-col col-12 col-sm-12 col-md-12 col-lg-6>
          <div *ngIf="!search" style="border: 1px solid white; 
          border-radius: 10px; background: rgba(0,0,0, 0.6); padding: 30px">
            <ion-slides loop="true" [autoplay]="3500">
              <ion-slide >
                <h1 style="color: white"><b>Looking for a place to rent ?</b></h1>
                <!-- <img src="assets/imgs/apartment.jpeg"/> -->
                <ion-buttons margin-bottom>
                  <button ion-button round  (click)="showSearch()">Yes, I need a place</button>
                </ion-buttons>
              </ion-slide>
              <ion-slide >
                <h1 style="color: white"><b>Wana become an agent in your neighbourhood ?</b></h1>
                <!-- <img src="assets/imgs/apartment.jpeg"/> -->
                <ion-buttons margin-bottom>
                  <button ion-button round  color="metallic-gold" style="color: white"  (click)="gotoLandlordDash()">
                    Yes, I want in ! 
                  </button>
                </ion-buttons>
              </ion-slide>
              <ion-slide>
                <h1 style="color: white"><b>You a landlord looking for tenants ?</b></h1>
                <!-- <img src="assets/imgs/apartment.jpeg"/> -->
                <ion-buttons margin-bottom>
                  <button ion-button round color="secondary" (click)="gotoOwners()" >
                    Yes, I want tenants
                  </button>
                </ion-buttons>
              </ion-slide>
              <ion-slide>
                <h1 style="color: white"><b>Looking for NSFAS accredited accommodation ?</b></h1>
                <!-- <img src="assets/imgs/apartment.jpeg"/> -->
                <ion-buttons margin-bottom>
                  <button ion-button round color="danger" (click)="gotoNsfas()">
                    Yes, please hook me up 
                  </button>
                </ion-buttons>
              </ion-slide>
            </ion-slides>
            
              <button ion-button margin-top color="white" outline  round  (click)="showSearch()">
                <ion-icon name="search" item-start></ion-icon>
                &nbsp;&nbsp;Search
              </button>
          </div>
          <div *ngIf="search" style="border: 1px solid white; 
          border-radius: 10px; background: rgba(0,0,0, 0.6); padding: 30px">
            <h2 style="color: white">Enter name of school, company or place you're moving to </h2>
            <ion-searchbar type="search" [(ngModel)]="pointOfInterest.description" 
              placeholder="e.g. Wits or liberty life  or  Braamfontein" (ionInput)="getPredictions($event)" mode="ios">
            </ion-searchbar>
            <div *ngIf="predictionLoading" style="background: rgba(0, 0, 0, 0.8); color: white; padding-top: 5px; padding-bottom: 5px;  text-align: center; z-index: 1">
              <ion-spinner name="ios"></ion-spinner> &nbsp;&nbsp;
              Loading predictions...
            </div>
            <ion-list *ngIf="predictions">
              <button ion-item *ngFor="let pred of predictions" (click)="selectPlace(pred)">{{pred?.description}}</button>
            </ion-list>
            <ion-item style="background: transparent; color: white" text-wrap>
              <ion-label stacked  color="light"><b>Your contact number (For quick and direct responses from Clickinn landlords)</b></ion-label>
              <ion-input type="number" padding-left [(ngModel)]="userSearch.searcher_contact">
              </ion-input>
            </ion-item>
            <ion-item padding style="background: transparent; color: white" text-wrap>
               <ion-label>Tick this box if the number above is on WhatsApp</ion-label>
               <ion-checkbox [(ngModel)]="userSearch.contact_on_WhatsApp"></ion-checkbox>
            </ion-item>
            <ion-buttons text-center>
              <button ion-button color="light" margin-vertical padding-horizontal round outline (click)="showOptions()">
                <ion-icon name="arrow-round-back"></ion-icon> &nbsp;&nbsp;&nbsp;&nbsp;
                   Options 
              </button>
              <button ion-button color="light" margin-vertical padding-horizontal round outline (click)="nextPage()">
                Next &nbsp;&nbsp;&nbsp;&nbsp;
                  <ion-icon name="arrow-round-forward"></ion-icon>
              </button>
            </ion-buttons>
          </div>
        </ion-col>
        <ion-col col-0 col-sm-0 col-md-0 col-lg-3>
        </ion-col>
      </ion-row>
    </ion-grid>
	</div>
</ion-content>

